In [1]:
%%capture
!pip3 install penngrader --upgrade

In [6]:
from penngrader.backend import *

# PennGrader: Teacher Backend

Follow this notebook's insutructions to write your homework's test cases and see student's grades.
### Configuration
Edit the following variables and run the following cell to initialize the teacher backend.

`SECRET_KEY`: The secret key you obtained when you created your course 

`HOMEWORK_NUMBER`: Homework number you are writing tests for. 

(Please do not edit the metadata of the current homeowork without changning the SECRET_KEY, this is just a template/demo)

In [15]:
SECRET_KEY      = 'E9EE7A6F1FBC4E769FCCF06C90621C8B'
HOMEWORK_NUMBER = 1

In [8]:
backend = PennGraderBackend(secret_key = SECRET_KEY, homework_number = HOMEWORK_NUMBER)

Success! Teacher backend initialized.

Homework ID: CIS545_Spring_2019_HW1

### Metadata
Edit the following metadata variables to your preference:

`TOTAL_SCORE`: Total number of points this homework is worth. **Note:** Make sure all test cases weigths add up to this number.

`DEADLINE`:... you guessed it, the homework deadline. (_Format:_ `'YYYY-MM-DD HH:MM A'`)

`MAX_DAILY_TEST_CASE_SUBMISSIONS`: Maximum number of daily submissions per test case per student.

In [9]:
TOTAL_SCORE = 20
DEADLINE = '2019-12-05 11:59 PM'
MAX_DAILY_TEST_CASE_SUBMISSIONS = 100

In [10]:
backend.update_metadata(DEADLINE, TOTAL_SCORE, MAX_DAILY_TEST_CASE_SUBMISSIONS)

Success! Metadata updated.

Total HW Points: 20
Deadline: 2019-12-05 23:59:00
Max daily submissions per test case: 100

### Test Cases
Define a test case function for each question.

A test case function takes in a single input containing the student's answer and returns a tuple `(student score:int, maximum score:int)`. See example below:

In [11]:
import numpy as np
import pandas as pd

def test_case_1(answer): 
    # [answer] in this test case is a function that adds 2 numbers
    
    # First initalize the max_score score of this test case. 
    max_score     = 5
    student_score = 0

    # Since answer is a function that takes two parameters 
    # answer(1,2) should return 3 if implemented correctly.
    if answer(1,2) == 3:
        student_score += 3
    if answer(2,2) == 4:
        student_score += 2
    
    # Returning a (student_score, max_score) tuple of ints
    return (student_score, max_score)

def test_case_2(answer): 
    max_score     = 10
    student_score = 0
    
    students_df = answer 
    
    students_df = students_df.sort_values('first_name', ascending = False)
    if students_df.iloc[0].first_name == 'Leonardo':
        student_score += 10
        
    return (student_score, max_score)

Run the following cell to update the test cases.

In [12]:
backend.update_test_cases()

Success: Test cases updated successfully.

 
 

 ### View Grades

Run the following cells to view student's scores.

In [13]:
grades_df = backend.get_grades()
grades_df

,student_id,student_score,latest_submission,deadline,days_late
0,99999999,20,2019-12-18 17:58:00.000005,2019-12-05 23:59:00,13

Run the following cells to view the raw student's scores for each test case.

In [14]:
raw_grades_df = backend.get_raw_grades() # Note: timestamp is in UTC
raw_grades_df

,max_score,homework_id,student_submission_id,student_score,timestamp
0,5,CIS545_Spring_2019_HW1,99999999_test_case_1,5,2019-12-18 22:57
1,5,CIS545_Spring_2019_HW1,99999999_test_case_2,5,2019-12-18 22:58
2,10,CIS545_Spring_2019_HW1,99999999_test_case_3,10,2019-12-18 22:58