In [3]:
%%capture
!pip3 install penngrader --upgrade

In [6]:
from penngrader.grader import *

## Autograder Setup
Enter your 8-digit PennID below:

In [7]:
STUDENT_ID = 99999999

Run the following cell to initialize the autograder. This autograder will let you submit your code directly from this notebook and immidiately get a score.

**NOTE:** Remember we store your submissions and check against other student's submissions... so, not that you would, but no cheating.

In [8]:
grader = PennGrader(homework_id = 'CIS545_Spring_2019_HW1', student_id = STUDENT_ID)

## Question 1: Write an addition function!
Fill in the function body of `addition_function` that takes in two numbers and returns their sum.

In [9]:
def addition_function(x,y):
    return x + y

Run the following cell to grade this question.

In [10]:
grader.grade(test_case_id = 'test_case_1', answer = addition_function)

Correct! You earned 5/5 points. You are a star!

Your submission has been successfully recorded in the gradebook.

## Question 2:  Now write a Class!
Add two class functions: `add_course` and `remove_course` that both take in a string representing a course ID.

In [11]:
class Student:
    def __init__(self, name = 'John', email = 'john@email', courses = []):
        self.name = name
        self.email = email
        self.courses = courses 

    def get_coures(self):
        return self.courses 

    def add_course(self, course):
        self.courses.append(course)
    
    def remove_course(self, course):
        self.courses.remove(course)

In [14]:
grader.grade(test_case_id = 'test_case_2', answer = Student)

Correct! You earned 5/5 points. You are a star!

Your submission has been successfully recorded in the gradebook.

## Question 3:  Finally, let's do some Pandas stuff!

Run the following cell to load the dataset...

In [15]:
import pandas as pd

students_df = pd.DataFrame([['Leonardo_Murri',100],['Akshay_Grewal',65]], columns = ['first_last_name','grade'])
students_df

  first_last_name  grade
0  Leonardo_Murri    100
1   Akshay_Grewal     65

Use `.apply(...)` to keep only the last name in the `first_last_name` column.

In [16]:
students_df['first_last_name'] = students_df['first_last_name'].apply(lambda x: x.split('_')[0])
students_df

  first_last_name  grade
0        Leonardo    100
1          Akshay     65

Now, rename the `first_last_name` column to `first_name`. Make sure your final dataframe is called `student_df`.

In [17]:
students_df = students_df.rename(columns = {'first_last_name':'first_name'})
students_df

  first_name  grade
0   Leonardo    100
1     Akshay     65

Run the following cell to grade this question.

In [18]:
# Autograder cell: Test case #3
grader.grade(test_case_id = 'test_case_3', answer = students_df)

Correct! You earned 10/10 points. You are a star!

Your submission has been successfully recorded in the gradebook.

## View your score!
You made it this far, run the following cell to double check we stored all your scores correctly.

In [23]:
grader.view_score()

NameError: name 'pd' is not defined